<!-- <h1 class="welcome-headline">Welcome to Bike Berlin</h1> -->
<!-- <h2>Your source for used bikes in Berlin</h2> -->

<div class="container-fluid">
	<%= video_tag(['man-on-bike.mp4'], :id => "video-background", :autoplay => true, :loop => true, :muted => true, :type => "video/mp4") %>
	<div class="container-fluid">
		<div class="row text-center main-text">
			<h1>Bike Berlin</h1><br>
			<p><em>Explore Berlin on two wheels</em>
			</p><br>
			<div class="text-center">
				<%= link_to "Shop Now", products_path, class: "btn btn-success shop-now" %>
			</div>
		</div>
	</div>
</div>