<div class="panel panel-default">
	<div class="panel-body">
	<p>Thank you. We have recieved your message and will respond as soon as possible.</p>
	</div><!-- END PANEL BODY -->
</div><!-- END PANEL -->

<%= link_to("Back to the homepage", root_path) %>