<p id="notice"><%= notice %></p>

<h1 class="page-header">Listing Products</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render @products %>
    <% end %>
  </div><!-- END ROW -->
</div><!-- END CONTAINER-FLUID -->

<br>

<%= link_to 'New Product', new_product_path %>
  