<p id="notice"><%= notice %></p>

<h1 class="page-header">Our Bikes</h1>

<div class="container-fluid">
  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div><!-- END ROW -->
</div><!-- END CONTAINER-FLUID -->

<br>

<%= link_to 'Add New Product', new_product_path, class: "btn btn-default" %>
  